@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
body{
    background:black;
}
.menu{
    height: 60px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
     border-bottom:2px solid #226f8d;
   /* background-color:aquamarine;*/
}
.menu-conteiner{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.menu h2{
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 10px;
    align-items: center;
}
.menu-iten{
   /*
    padding-bottom: 10px;*/ 
    font-size: larger;
    padding:10px;
    padding-right: 15px;
    text-decoration: none;
    color:white;
    font-weight:20px;
}
.menu-iten:hover{
border-top:1px solid #3c83a0;
border-left:1px solid #0ea05eb9 ;
outline: none;
transition: .3s;
border-radius: 5px;
color:#4787A1 ;
}
#contactm{
    background:#226f8d;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: larger;
    padding: 9px;
    margin: 10px;
    cursor: pointer;
    }
    #contactm:hover{
    color: white;
    box-shadow: 1px 1px 10px 2px #226f8d;
    border:2px solid #0ea05eb9 ;
    transition: .2s;
        
    }
/*estilização da class body*/
.body{
display: flex;
justify-content: space-around;
align-items: center;
}
.img-conteiner {
margin-top: 40px;
margin-left: 50px;
width: 35%;
}
.img-conteiner img{
    margin-left: 16%;
height:80% ;
width: 300px;
border-radius: 30%;
border:px solid #3c83a0;
box-shadow: 1px 1px 10px 2px #226f8d;
position: relative;
animation:flutuar 2s ease-in-out infinite alternate ;
}
@keyframes flutuar{
0%{
    top: 0;
}100%{
    top: 20px;
}
}
.sections{
    width: 50%;
    margin: auto;
    color: white;
}
.firstsections h2{
font-size:xx-large;
padding-bottom: 10px;
}
.firstsections p{
 margin-bottom: 25px;
}
#contact{
box-shadow: 1px 1px 10px 2px #226f8d;
background-color: #226f8d;
color: white;
border-style: none;
border-radius: 5px;
font-size: larger;
padding: 8px;
cursor: pointer;
}
#contact:hover{
color: #0cf48bb9;
box-shadow: 1px 1px 10px 2px #0cf48bb9;
}
.espe-card{
    background-color: #226f8d;
width: 400px;
height:500px;
}

.espe-card img{
    width: 500%;
    height: 50%;
}